
/*
** HTML elements
*/
body {
margin : 0;
padding : 20px;
min-width : 878px;
color : #000;
background-color : #000034;
background-image : url(images/bgbg.jpg);
background-repeat : repeat-x;
font : 76% Verdana, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
margin-bottom : 0.5em;
}
h1 {
font-size : 1.3em;
}
h2 {
font-size : 1.2em;
}
h3, h4, h5, h6 {
font-size : 1.1em;
}
p {
margin-top : 0.5em;
margin-bottom : 0.9em;
}
a {
text-decoration : none;
font-weight : bold;
}
a:link, a:visited {
color : #5b0000;
}
a:hover {
color : #39c;
text-decoration : underline;
}
fieldset {
border : 1px solid #ccc;
}
pre {
background-color : transparent;
padding : 0.75em 1.5em;
font-size : 12px;
border : 1px solid #ddd;
}
#body table {
border-collapse : separate;
font-size : 1em;
border : none;
}
#themebody {
padding : 0;
margin : 0 auto;
min-width : 838px;
border : 0;
}
#body td {
border : 0;
}
table tr th {
border : none;
}
tr.odd td, tr.even td {
padding : 0.3em;
}
#body .active, #main div.tabs ul li, #body .primary, table tr.odd, table tbody tr.even, div.theme-info {
background-color : transparent;
border : 0;
}
#main div.tabs a {
border : 1px solid #5b0000;
background-color : #ffff80;
}
.form-item label {
font-size : 1em;
color : #222;
}
.item-list .title {
font-size : 1em;
color : #222;
}
.links {
margin-bottom : 0;
}
.comment .links {
margin-bottom : 0;
}
#header, #content, #t-bottom, #header-links {
min-width : 838px;
width : 100%;
background-color : #dac39a;
}
#t-bottom {
height : 225px;
}
#header {
height : 250px;
}
#logo {
border : 0;
padding : 0.5em;
}
#logo img {
float : left;
padding : 0 1em;
border : 0;
}
#menu {
padding : 0.5em 0.5em 0 0.5em;
text-align : left;
vertical-align : middle;
}
#navlist {
font-size : 1em;
padding : 0 0.8em 1.2em 0;
color : #86421b;
}
#navlist a {
font-weight : bold;
color : #86421b;
}
#subnavlist {
padding : 0;
margin : 25px 20px;
font-size : 0.8em;
color : #2f0505;
}
#subnavlist a {
font-weight : bold;
color : #2f0505;
}
#navlist a:hover {
color : #2f0505;
}
ul.links li {
border-left : 1px solid #2f0505;
}
ul.links li.first {
border : none;
}
#search .form-text, #search .form-submit {
border : 1px solid #369;
font-size : 1.1em;
height : 1.5em;
vertical-align : middle;
}
#search .form-text {
width : 8em;
padding : 0 0.5em;
}
#mission {
background-color : #dac39a;
padding : 1.5em 2em;
color : #2f0505;
}
#mission a, #mission a:visited {
color : #9cf;
font-weight : bold;
}
.site-name {
margin : 0.6em 0 0;
padding : 0;
font-size : 2em;
}
.site-name a:link, .site-name a:visited {
color : #cdb285;
}
.site-name a:hover {
color : #369;
text-decoration : none;
}
.site-slogan {
font-size : 1em;
color : #cdb285;
display : block;
margin : 0;
font-style : italic;
font-weight : bold;
}
#main {
padding : 10px;
background-color : #dac39a;
}
#mission, .node .content, .comment .content {
line-height : 1.4em;
}
#help {
font-size : 0.9em;
margin-bottom : 1em;
}
.breadcrumb {
margin-bottom : 0.5em;
}
.messages {
background-color : transparent;
border : 1px solid #ccc;
padding : 0.3em;
margin-bottom : 1em;
}
.warning, div.warning {
background-color : transparent;
border : 1px solid red;
background-image : url(images/red_bg.png);
}
.error {
border-color : red;
}
.pager .pager-item {
border : 1px solid #5b0000;
}
.item-list ul.pager li {
margin-top: 2em;
}
#sidebar-left, #sidebar-right {
background-color : #dac39a;
width : 16.5em;
padding : 10px;
vertical-align : top;
}
#sidebar-left .title, #sidebar-right .title {
background-image : url(images/title_bg.png);
background-repeat : no-repeat;
color : #ffff80;
padding : 5px;
text-align : center;
vertical-align : middle;
font-size : 1.1em;
}
#sidebar-left .title a, #sidebar-right .title a {
font-size : 1.1em;
}
.node .title, .node .title a {
color : #ffff80;
}
.column-left, .column-right, #h-left, #h-right, #f-left, #f-right {
padding : 0;
margin : 0;
border : 0;
}
#f-right {
background-image : url(images/f-r.jpg);
background-repeat : no-repeat;
width : 346px;
vertical-align : bottom;
}
#f-left {
background-image : url(images/f-l.jpg);
background-repeat : no-repeat;
width : 493px;
}
#f-middle {
background-image : url(images/f-m.jpg);
background-repeat : repeat-x;
min-width : 39px;
}
.column-left, .column-right {
min-width : 31px;
width : 31px;
background-repeat : repeat-y;
}
#h-left {
background-image : url(images/h-l.jpg);
background-repeat : no-repeat;
width : 66px;
height : 250px;
}
#h-middle {
background-image : url(images/h-m.jpg);
background-repeat : repeat-x;
height : 250px;
vertical-align : top;
}
#h-right {
background-image : url(images/h-r.jpg);
background-repeat : no-repeat;
width : 772px;
height : 250px;
}
.column-left {
background-image : url(images/l.jpg);
}
.column-right {
background-image : url(images/r.jpg);
}
#footer {
background-color : transparent;
color : #8a7654;
padding : 3em;
font-size : 0.8em;
text-align : center;
margin : 15px;
}
.title, .title a {
font-weight : bold;
font-size : 1.3em;
color : #777;
margin : 0 auto;
}
.submitted {
color : #ffff80;
font-size : 0.8em;
}
.links {
color : #999;
}
.links a {
font-weight : bold;
}
.block, .box {
padding : 0 0 1.5em 0;
}
div.block-region {
background-color : orange;
}
.block {
padding-bottom : 0.75em;
margin-bottom : 1.5em;
}
#sidebar-left .block, #sidebar-right .block {
background-repeat : no-repeat;
background-position : center bottom;
}
.block .title {
margin-bottom : 0.25em;
}
.box .title {
font-size : 1.1em;
}
.node {
margin : 0.5em 0 2em;
background-image : url(images/node_bg.jpg);
background-repeat : no-repeat;
background-position : left top;
padding : 30px 10px 10px 30px;
}
.sticky {
padding : 0.5em;
background-color : transparent;
border : 1px solid #ddd;
}
.node .content, .comment .content {
margin : 0.5em 0 0.5em;
}
.node .taxonomy {
color : #999;
font-size : 0.8em;
padding-left : 1.5em;
}
.node .picture {
border : 1px solid #ddd;
float : right;
margin : 0.5em;
}
.comment {
border : 1px solid #abc;
padding : 0.5em;
margin-bottom : 1em;
}
.comment .title a {
font-size : 1.1em;
font-weight : normal;
}
.comment .new {
text-align : right;
font-weight : bold;
font-size : 0.8em;
float : right;
color : red;
}
.comment .picture {
border : 1px solid #abc;
float : right;
margin : 0.5em;
}
#aggregator .feed-source {
background-color : transparent;
border : 1px solid #ccc;
padding : 1em;
margin : 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
color : #999;
font-style : italic;
font-size : 0.9em;
}
#aggregator .title {
margin-bottom : 0.5em;
font-size : 1em;
}
#aggregator h3 {
margin-top : 1em;
}
#forum table {
width : 100%;
}
#forum td {
padding : 0.5em;
}
#forum td.forum, #forum td.posts {
background-color : transparent;
}
#forum td.topics, #forum td.last-reply {
background-color : transparent;
}
#forum td.container {
background-color : transparent;
}
#forum td.container a {
color : #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
height : 1.5em;
border : 1px solid #bbb;
}
#forum td .name {
color : #96c;
}
#forum td .links {
padding-top : 0.7em;
font-size : 0.9em;
}
#profile .profile {
clear : both;
border : 1px solid #abc;
padding : 0.5em;
margin : 1em 0;
}
#profile .profile .name {
padding-bottom : 0.5em;
}
.block-forum h3 {
margin-bottom : 0.5em;
}
div.admin-panel .description {
color : #999;
}
div.admin-panel .body {
background-color : transparent;
}
div.admin-panel h3 {
background-color : transparent;
color : #fff;
padding : 5px 8px 5px;
margin : 0;
}
